*, ul, li, a{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin: auto;
}
body{
    background-color: #f3f5fa;
}

.colored{
    background-color: #ade2df;
}

.main_button{
    background-color: #ade2df;
    color: black;
    padding: 20px 30px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.secondary{
    background-color: black;
    color: white;
    padding: 20px 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}

header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    gap: 350px;
    padding: 40px 80px;
}

header .header_left{
    display: flex;
    gap: 40px;
    font-size: 20px;
}

header .header_right{
    display: flex;
    gap: 40px;
}

.header_right a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.info{
    text-align: center;
    padding: 80px 40px;
}

.info h1{
    font-size: 80px;
    margin-bottom: 20px;
}

.info p{
    font-size: 24px;
    margin-bottom: 40px;
}

.buttons{
    margin-bottom: 40px;
}

.users{
    display: flex;
    justify-content: center;
    height: 300px;
    padding: 60px 160px;
    margin-bottom: 100px; /*REMOVE LATER */
}

.users_info{
    margin: 40px 0px;
    height: 240px;
    width: 30%;
    text-align: center; 
}

.users_info h2{
    font-size: 50px;
    margin-bottom: 40px;
}

.users_info p{
    font-size: 22px;
}

.users_info:nth-of-type(1){
    border-left: 2px solid rgba(165, 165, 165, 0.404);
    border-right: 3px solid rgba(175, 175, 175, 0.575);
}

.users_info:nth-of-type(2){
    border-right: 3px solid rgba(175, 175, 175, 0.575);
}

.users_info:nth-of-type(3){
    border-right: 2px solid rgba(165, 165, 165, 0.404);
}

.benefits{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 0px 300px;
    height: 600px;
}

.benefits img{
    border: 3px dashed rgba(128, 128, 128, 0.534);
    height: 100%;
    width: 40%;
}

.benefits_info{
    text-align: start;
    width: 50%;
    margin: 0px;
    padding: 100px 20px;
}
.benefits_info h2{
    font-size: 50px;
    margin-bottom: 40px;
}
.benefits_info h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.benefits_info p{
    font-size: 20px;
    margin-bottom: 40px;
}
.price_plans{
    margin: 0px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.price_plans .price_text{
    margin: 10px 0px;
}

.underline_price{
    margin: 0px;
    width: 200px;
    border-bottom: 3px solid gray;
}

.plans{
    text-align: center;
    padding: 60px 0px;
}

.plans_button{
    background-color: #ade2df;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
}

.plans > h2{
    margin-top: 60px;
    font-size: 50px;
    margin-bottom: 80px;
}

.plans_info{
    display: flex;
    height: 580px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.26);
    border-radius: 20px;
}
.plans_card{
    margin: 0px;
    padding: 30px 40px;
    text-align: center;
    
}
.card_option, .card_get{
    text-align: start;
}
.line{
    border-right: 1px solid rgba(128, 128, 128, 0.363);
    height: 88%;
    margin: 30px 0px;
}

.plans_card h2{
    font-size: 40px;
}
.plans_card h3{
    font-size: 26px;
}
.plans_card p{
    font-size: 20px;
}
.card_option p{
    margin-bottom: 30px;
}
.card_option h2{
    margin-bottom: 30px;
}
.card_option span{
    font-size: 20px;
    font-weight: 400;
}
.plans_card hr{
    margin-bottom: 30px;
}
.card_get p{
    margin-bottom: 10px;
}
.card_get {
    margin-bottom: 60px;
}
.plans_card button{
    width: 95%;
    padding: 26px 0px;
}
.plans_card:nth-child(7){
    width: 60%;
    background-color: #ade2df;
}
.plans_card:nth-child(7) .card_option p{
    font-size: 32px;
    font-weight: 500;
}
.plans_card:nth-child(7){
    position: relative;
}
.plans_card:nth-child(7) button{
    position: absolute;
    bottom: 22px;
    left: 3%;
}

.get_started{
    padding: 80px;
    text-align: center;
}

.get_started h2{
    font-size: 70px;
    max-width: 600px;
}
.get_started p{
    font-size: 24px;
    max-width: 650px;
    margin-bottom: 60px;
}

footer{
    height: 60px;
    display: flex;
}
footer p{
    margin-top: 30px;
    margin-left: 40px;
    font-size: 1.2rem;
}

footer .social{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 40px;
}
